$white: #fff;
$white-blue: #E3E7F1;
$bg-grey: rgba(188, 194, 206, 0.2);

$pink: #E14594;
$pink-hover: rgba(206, 64, 135, .843);

$dark-blue: #182952;
$dark-blue-light: rgba(24, 41, 82, .7);
$dark-blue-lighter: rgba(24, 41, 82, .2);
$light-blue: #e3e7f1;

$grey: #606266;
$lighter-grey: #f6f6f6;
$light-grey: #eeeeee;

$success: #34D399;
$error: #DC2626;

$promoted-yellow: #fbbe244d;

$facebook: #3b5998;
$google: #DB4437;