// Font size
$font-heading-xs: 1rem;
$font-heading-sm: 1.25rem;
$font-heading-md: 2rem;
$font-heading-lg: 2.5rem;

$font-content-sm: 0.8125rem;
$font-content-md: 0.875rem;
$font-content-lg: 1.0625rem;
$font-content-xl: 2rem;

$font-icon-sm: 1rem;
$font-icon-md: 1.5rem;
$font-icon-lg: 2rem;

$article-line-height: 1.5rem;

//Font weight

$font-bold: 700;