// Font size

$font-heading-sm: 1.5rem;
$font-heading-md: 2rem;
$font-heading-lg: 2.5rem;

$font-content-sm: 0.8125rem;
$font-content-md: 0.875rem;
$font-content-lg: 1.0625rem;

//Font weight

$font-bold: 700;