@mixin input-select-border {
    border: $input-select-border !important;
}

@mixin input-name {
    text-transform: uppercase;
    font-size: $font-content-lg;
    font-weight: $font-bold;
    color: $dark-blue;
}

@mixin input-text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}