@mixin shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .05);
}

@mixin shadow-bold {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .9);
}

@mixin shadow-hover {
    box-shadow: 0 3px 6px rgba(117, 67, 67, 0.16);
}