@mixin shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .05);
}

@mixin shadow-hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

@mixin transition {
    transition: all .2s ease-in-out;
}

@mixin tag {
    font-size: 12px;
    border-radius: 137px;
    padding: 7px 20px;
}

@mixin tag-dark {
    @include tag;
    background-color: $dark-blue;
    color: $white;
    @include shadow;
}

@mixin tag-light {
    @include tag;
    background-color: $light-blue;
    color: $dark-blue;
}

@mixin input {
    height: 35px;
    border: 1px solid $light-blue;
    border-radius: $border-radius-sm;
    padding: 0 10px;
}

@mixin input-name {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}

@mixin textarea {
    border: 1px solid $light-blue;
    border-radius: $border-radius-sm;
    padding: 10px 10px;
    resize: none;
}

@mixin input-border {
    border: 1px solid $light-blue !important;
    border-radius: $border-radius-sm;
}