@import 'variables/colors';
@import 'variables/sizes.scss';
@import 'variables/typography.scss';
@import 'variables/borders.scss';
@import 'variables/opacity.scss';
@import 'variables/spacing.scss';
@import 'mixins/tags.scss';
@import 'mixins/positioning.scss';
@import 'mixins/shadows.scss';
@import 'mixins/transitions.scss';
@import 'mixins/inputs.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: $lighter-grey;
}

a {
    @include transition;
    color: $dark-blue;
    text-decoration: none;
    font-size: $font-content-lg;
    font-weight: $font-semi-bold;
}

input[type="text"]:disabled {
    background: $bg-grey;
}

h1 {
    color: $dark-blue;
    font-size: $font-heading-lg;
    font-weight: $font-bold;
    letter-spacing: .1rem;
}

h2 {
    color: $dark-blue;
    font-size: $font-heading-md;
    font-weight: $font-bold;
}

h3 {
    color: $dark-blue;
    font-size: $font-heading-sm;
    font-weight: $font-bold;
}

ul {
    list-style: none;
}

button {
    @include transition;
    cursor: pointer;
    border: none;
    font-size: $font-content-lg;
    font-weight: $font-bold;
    line-height: 14px;
}

textarea {
    @include input-select-border;
    padding: 10px 10px;
    resize: none;
}

input, select {
    @include input-select-border;
    height: $input-select-height;
    padding: 0 .8rem;
    border-radius: .2rem;
}

label {
    @include input-name;
}

.error {
    display: block;
    font-size: $font-content-md;
    color: $error;
    margin-top: .5rem;
}

.router-link-exact-active {
    color: $pink !important;
}