* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    color: $theme-dark-blue;
}

input[type="text"]:disabled {
    background: $bg-grey;
}

select {
    padding: 20px;
}