@import 'variables/colors.scss';
@import 'variables/sizes.scss';
@import 'variables/typography.scss';
@import 'variables/borders.scss';
@import 'variables/opacity.scss';
@import 'variables/spacing.scss';
@import 'mixins/mixins.scss';
@import 'mixins/positioning.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    color: $dark-blue;
    text-decoration: none;
}

input[type="text"]:disabled {
    background: $bg-grey;
}

select {
    padding: 20px;
}

h2 {
    color: $dark-blue;
    font-size: 17px;
    font-weight: 700;
}

h3 {
    color: $dark-blue;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
}