* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

$text-white: #E3E7F1;
$theme-pink: #E14594;
$theme-pink-hover: rgba(206, 64, 135, 0.843);
$theme-dark-blue: #182952;
$theme-light-blue: #E3E7F1;

@mixin hover-transition {
    transition: .2s ease-in-out;
}

a {
    @include hover-transition;
    text-decoration: none;
}


