@mixin shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .05);
}

@mixin shadow-hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

@mixin transition {
    transition: .2s ease-in-out;
}

@mixin tag {
    font-size: 12px;
    border-radius: 137px;
    padding: 7px 20px;
}

@mixin tag-dark {
    @include tag;
    background-color: $theme-dark-blue;
    color: #fff;
    @include shadow;
}

@mixin tag-light {
    @include tag;
    background-color: $theme-light-blue;
    color: $theme-dark-blue;
}